<!DOCTYPE html>
<html lang="id" data-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Tambah Pengguna Baru</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
</head>

<body class="font-sans bg-base-200 min-h-screen text-neutral">


    <!-- Navbar -->
    <div th:replace="fragment/navbar :: navbar"></div>

    <!-- Layout utama -->
    <div class="flex flex-col lg:flex-row mt-16 min-h-screen bg-base-100">
        <!-- Sidebar -->
        <div th:replace="fragment/navbar :: sidebar('products')"></div>



        <main class="bg-base-200 h-full flex flex-col gap-4 p-6 w-full mb-20">

            <div class="flex w-full gap-4 font-bold mb-4">
                <div class="text-neutral">
                    <a th:href="@{/admin/products/}"
                        class="inline-flex items-center gap-2 mb-6 text-sm font-medium text-neutral hover:text-primary transition-colors group">
                        <div
                            class="w-10 h-10 rounded-full border border-neutral group-hover:border-primary flex items-center justify-center transition-all group-hover:scale-110">
                            <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <path d="M19 12H5M12 19l-7-7 7-7" />
                            </svg>
                        </div>
                        <span th:text="@{'kembali ke dahsboard'}" class="text-lg"></span>
                    </a>
                </div>
            </div>



            <div class="w-full" th:if="${successMsg}">
                <div role="alert" class="alert alert-success text-white font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                    <span th:text="${successMsg}"></span>
                </div>
            </div>

            <div th:if="${errorMessage != null}" class="w-full">
                <div role="alert" class="alert alert-error w-full text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span th:text="${errorMessage}"></span>
                </div>
            </div>

            <form class="w-full h-full flex flex-col gap-4" th:action="@{/admin/products/add}" method="post"
                enctype="multipart/form-data">

                <div class="flex gap-6 flex-col md:flex-row">


                    <div class="w-full card bg-white p-4 space-y-6 rounded-2xl md:flex-2">
                        <h1 class="text-2xl font-bold">Gambar Produk</h1>

                        <!-- Gambar utama -->
                        <div>
                            <label class="relative block cursor-pointer group">
                                <img id="mainPreview"
                                    class="rounded-xl w-full h-64 object-cover border border-neutral" />
                                <div
                                    class="absolute inset-0 flex items-center justify-center bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity rounded-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-white" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 7h2l2-3h10l2 3h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V8a1 1 0 011-1zm9 3a4 4 0 100 8 4 4 0 000-8z" />
                                    </svg>
                                </div>
                                <input type="file" accept="image/*" id="mainImageInput" name="allProductImage"
                                    class="hidden" />
                            </label>
                        </div>

                        <div class="divider">Gambar Lainnya (maks. 4)</div>

                        <!-- Gambar tambahan -->
                        <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
                            <!-- Template gambar tambahan -->
                            <label class="relative block cursor-pointer group" for="extraImage1">
                                <img id="extraPreview1"
                                    class="rounded-xl w-full h-32 object-cover border border-neutral" />
                                <div
                                    class="absolute inset-0 flex items-center justify-center bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity rounded-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 7h2l2-3h10l2 3h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V8a1 1 0 011-1zm9 3a4 4 0 100 8 4 4 0 000-8z" />
                                    </svg>
                                </div>
                                <input type="file" accept="image/*" id="extraImage1" class="hidden"
                                    name="allProductImage" />
                            </label>

                            <label class="relative block cursor-pointer group" for="extraImage2">
                                <img id="extraPreview2"
                                    class="rounded-xl w-full h-32 object-cover border border-neutral" />
                                <div
                                    class="absolute inset-0 flex items-center justify-center bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity rounded-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 7h2l2-3h10l2 3h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V8a1 1 0 011-1zm9 3a4 4 0 100 8 4 4 0 000-8z" />
                                    </svg>
                                </div>
                                <input type="file" accept="image/*" id="extraImage2" class="hidden"
                                    name="allProductImage" />
                            </label>

                            <label class="relative block cursor-pointer group" for="extraImage3">
                                <img id="extraPreview3"
                                    class="rounded-xl w-full h-32 object-cover border border-neutral" />
                                <div
                                    class="absolute inset-0 flex items-center justify-center bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity rounded-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 7h2l2-3h10l2 3h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V8a1 1 0 011-1zm9 3a4 4 0 100 8 4 4 0 000-8z" />
                                    </svg>
                                </div>
                                <input type="file" accept="image/*" id="extraImage3" class="hidden"
                                    name="allProductImage" />
                            </label>

                            <label class="relative block cursor-pointer group" for="extraImage4">
                                <img id="extraPreview4"
                                    class="rounded-xl w-full h-32 object-cover border border-neutral" />
                                <div
                                    class="absolute inset-0 flex items-center justify-center bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity rounded-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-white" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M3 7h2l2-3h10l2 3h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V8a1 1 0 011-1zm9 3a4 4 0 100 8 4 4 0 000-8z" />
                                    </svg>
                                </div>
                                <input type="file" accept="image/*" id="extraImage4" class="hidden"
                                    name="allProductImage" />
                            </label>
                        </div>
                    </div>

                    <!-- metadata -->
                    <div class="card bg-white rounded-2xl p-4 md:flex-1">
                        <fieldset class="fieldset text-neutral">
                            <legend class="fieldset-legend text-2xl font-semibold text-gray-700 mb-1">Nama layanan
                            </legend>
                            <input type="text"
                                class="input w-full bg-white border-neutral focus:border-primary focus:ring-0 transition-all duration-200"
                                placeholder="maksimal 255 karakter" name="name" />
                        </fieldset>
                        <span th:if="${validationErrors != null and #maps.containsKey(validationErrors, 'name')}"
                            th:text="${validationErrors.name}" class="text-error text-sm"></span>

                        <fieldset class="fieldset text-neutral">
                            <legend class="fieldset-legend text-lg font-semibold text-gray-700 mb-1">Deskripsi layanan
                            </legend>
                            <textarea
                                class="textarea w-full h-40 bg-white border-neutral focus:border-primary focus:ring-0 transition-all duration-200"
                                placeholder="Tulis deskripsi produk di sini..." rows="4" name="desc"></textarea>
                        </fieldset>
                        <span th:if="${validationErrors != null and #maps.containsKey(validationErrors, 'desc')}"
                            th:text="${validationErrors.desc}" class="text-error text-sm"></span>

                        <fieldset class="fieldset text-neutral">
                            <legend class="fieldset-legend text-lg font-semibold text-gray-700 mb-1">Harga layanan
                            </legend>
                            <input type="text" id="priceInput" name="price"
                                class="input w-full bg-white border-neutral focus:border-primary focus:ring-0 transition-all duration-200"
                                placeholder="contoh: 10,000" />
                        </fieldset>
                        <span th:if="${validationErrors != null and #maps.containsKey(validationErrors, 'price')}"
                            th:text="${validationErrors.price}" class="text-error text-sm"></span>

                        <div class="form-control">
                            <label class="label">Kategori Produk</label>
                            <select id="categorySelect" name="categoryId"
                                class="select w-full bg-white border-neutral focus:border-primary focus:ring-0 transition-all duration-200"
                                onchange="handleCategorySelect(this)">
                                <option disabled selected>Pilih kategori</option>
                                <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}">
                                </option>
                                <option value="new" class="text-primary">+ Tambah Kategori Baru</option>
                            </select>
                        </div>
                        <span th:if="${validationErrors != null and #maps.containsKey(validationErrors, 'categoryId')}"
                            th:text="${validationErrors.categoryId}" class="text-error text-sm"></span>
                    </div>


                </div>
                <!-- gambar -->
                <!--  -->

                <div class="w-full flex flex-col justify-center mt-10 p-4 gap-4 md:flex-row">
                    <a th:href="@{/admin/products/}"
                        class="btn btn-outline p-2 md:p-4 btn-primary font-semibold flex-1 text-base rounded-lg md:flex-1">
                        Batal
                    </a>
                    <button type="submit"
                        class="btn md:p-4 p-2 btn-success font-bold flex-1 text-base rounded-lg shadow-xl shadow-success/30 md:flex-1">SIMPAN</button>
                </div>

            </form>

        </main>

    </div>

    <!-- Bottom Bar -->
    <div th:replace="fragment/navbar :: bottombar('admin')"></div>

    <dialog id="categoryDialog" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg mb-4">Tambah Kategori</h3>
            <form id="addCategoryForm" onsubmit="submitCategory(event)">
                <div class="form-control mb-3">
                    <label class="label">Nama Kategori</label>
                    <input id="categoryName" name="name" type="text" class="input input-bordered w-full" required>
                </div>

                <div class="form-control mb-3">
                    <label class="label">Deskripsi (opsional)</label>
                    <textarea id="categoryDesc" name="description" class="textarea textarea-bordered w-full"></textarea>
                </div>

                <div class="modal-action">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="button" class="btn" onclick="closeCategoryDialog()">Batal</button>
                </div>
            </form>
        </div>
    </dialog>


    <script th:src="@{/js/adminAddProduct.js}"></script>
</body>

</html>